# Datasets — trop volumineux
data/

# Modèles entraînés — trop lourds
ai/checkpoints/
ai/plots/

# Variables d'environnement — contient mots de passe !
.env
backend/.env

# Environnements Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Dépendances frontend
node_modules/
dist/
.vite/

# Fichiers système
.DS_Store
Thumbs.db
*.log
backend/ai/RSANet/

# Checkpoints modeles
*.pth
*.pkl
*.npz
*.zip
*.dcm
backend/checkpoints_v2/
backend/models/
backend/predictions/
backend/predictions_v2/
backend/debug_patches/
backend/exploration_output/
backend/figures/
backend/logs/
backend/logs_v2/
backend/checkpoints/
